.main--wrapper {
    height: 95vh;
    margin-top: var(--navbar-height);
}

.main--content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin:auto;
}

.main--logo {
    width: 30%;
}

.main--slogan {
    letter-spacing: 5px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .main--logo {
        width: 50%;
    }

    .main--slogan {
        font-size: 0.8rem;
    }
}